@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {                         /* Global Styles */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin-top: 24px;
  }

  nav h1 {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;
  }

  

/* Shared Styles */
.btn-primary {
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s ease-in-out;
  }

  .btn-primary:hover {
    transition: .5s ease-in-out;
    background-color: #049671f6;
  }

  .btn-secondary {
    background-color: #fff;
    color: #006A50;
    border:1px solid #006A50;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #F5F5F5;
    cursor: pointer;
    transition: .5s ease-in-out;
  }

  .btn-secondary:hover {
    background-color: #006A50;
    color: white;
    transition: .5s ease-in-out;
  }

  header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 80px;
  }
  

  /* Header Banner */

.header-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 100px 80px;
    margin-top: 40px;
  }
  
  .header-banner-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .header-banner-left h4 {
    color: #0E0E0E;
    opacity: .5;
    font-size: 24px;
    font-weight: 500;
  }
  
  .header-banner-left h1 {
    font-size: 56px;
    font-weight: bold;
  }
  
  .header-banner-right {
    margin-left: 34px;
  }
  
  .header-banner-right img {
    height: 400px;
    width: 474px;
  }
  
  /* Main Section */
  
 
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  /* margin-top: 24px; */
}

/* Main Section One */

.main-section-one {
  display: flex;
  flex-direction: column;
  /* width: 1280px; */
  text-align: left;
  gap: 20px;
  margin-bottom: 80px;
}

.main-section-one-title h1 {
  font-weight: bold;
  font-size: 40px;
  color: #0E0E0E;
  text-align: left;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background-color: white;
  width: 302px;
  height: 244px;
  border-radius: 16px;
  padding: 30px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  transition: .5s ease-in;
}

.card:hover {
  background-color: #51ecc52f;
  cursor: pointer;
  transition: .5s ease-out;
}

.card img {
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 12px;
}

.card p {
  line-height: 1.3;
  opacity: .5;
}

/* Main Section Two */

.main-section-two {
  display: flex;
  flex-direction: column;
  /* width: 1280px; */
  text-align: left;
  gap: 30px;
  margin-bottom: 80px;
}

.main-section-two-title h1 {
  font-size: 40px;
  font-weight: bold;
}

.main-section-two-description p {
  color: rgba(14, 14, 14, 0.7);
}

.cards-2 {
  display: flex;
  gap: 20px;
}

.blue-card, .green-card, .gold-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  width: 410px;
  height: 325px;
  border-radius: 16px;
}

.blue-card p, .green-card p, .gold-card p {
  opacity: 0.5;
}

.blue-card img, .green-card img, .gold-card img {
  width: 64px;
}

.blue-card {
  background-color: rgba(84, 144, 245, 0.2);
}

.green-card {
background-color: rgba(198, 228, 214, 1);
}

.gold-card {
  background-color: rgba(247, 235, 207, 1);
}

.blue-card-btn, .green-card-btn, .gold-card-btn {
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  padding: 11px 20px;
  border: none;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.blue-card-btn {
  background-color: #5490F5;
}

.blue-card-btn:hover {
  background-color: #125cdb;
  transition: .4s ease-in-out;
}

.green-card-btn {
  background-color: #09A15C;
}

.green-card-btn:hover {
  background-color: #047e47;  
  transition: .4s ease-in-out;
}

.gold-card-btn {
  background-color: #FFC239;
}

.gold-card-btn:hover {
  background-color: #e08700;
  transition: .4s ease-in-out;
}

/* Main Section Two Quote */

.main-section-two-quote {
  height: 236px;
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
  background: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-color: white;
  padding: 48px 24px;
  border-radius: 16px;
}

.main-section-two-quote p {
  opacity: .8;
  color: rgba(14, 14, 14, 0.8);
  line-height: 1.3;
}

.main-section-two-quote .quote-author {
  font-weight: 600;
  font-size: 20px;
  margin-top: 12px;
}

.main-section-two-quote .quote-author-position {
  opacity: .5;
  margin-top: 4px;
}

/* Main Section Three */

.main-section-three {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}

.main-section-three h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.main-section-three-survey {
  padding: 32px;
  /* height: 310px; */
  background-color: #fff;
  width: 1280px;
  border-radius: 16px;
}

table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.table-header {
  border: 1px solid rgba(0, 0, 0, 0.397);
  padding: 20px;
  background-color: rgba(198, 228, 214, 1);

}

.table-header-row {
  display: flex;
  justify-content: space-between;
}

.table-header-row td {
  font-weight: 600;
  font-size: 20px;
}

.table-border, .table-border2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  border-right: 1px solid rgba(0, 0, 0, 0.397);
  border-left: 1px solid rgba(0, 0, 0, 0.397);
  padding: 20px;
  width: 90%;
}

.table-border {
  font-weight: 600;
}

.table-border2 select{
  margin: 10px 36px;
  padding: 10px 15px;
  background-color: rgba(198, 228, 214, 1);
  border: 2px solid rgba(0, 0, 0, 0.397)  ;
  border-radius: 4px; 
  font-weight: bold;
}
  
/* Main Section Four */
.main-section-four {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}

.main-section-four h1 {
  /* margin-bottom: 24px; */
}

.main-section-four p {
  opacity: .5;
  line-height: 1.4;
}

.main-section-four-img img{
  border-radius: 24px;
}

.main-section-four-1 {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 48px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.main-section-four-1-inner {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.main-section-four-1-inner img {
  width: 134px;
}

.main-section-four-2 {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 48px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.main-section-four-3 {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 48px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
 

/* Main Section Five */

.main-section-five {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 80px;
}

.main-section-five h1 {
  font-size: 40px;
  font-weight: bold;
}

.main-section-five p {
  margin-bottom: 20px;
  /* text-align: justify; */
  opacity: .8;
}

.donation-boxes {
  display: flex;
  /* gap: 1px; */
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.donation-amount-box {
  background-color: white;
  padding: 40px 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  cursor: pointer;
  transition: .25s ease-in;
}

.donation-amount-box:hover {
  background-color: rgba(198, 228, 214, 1);
  transition: .25s ease-in;
}

.donation-amount-box h1 {
  font-size: 40px;
  font-weight: bold;
}

/* THIS BOTTOM COMMENT SECTION IS UNNECCESSARY IN MY OPINION, UNCOMMENT AND CHECK IT OUT IF YOU WANT TO */
/* #selected-by-default {
  background-color: rgba(198, 228, 214, 1);
} */

#custom-donation {
  margin-bottom: 10px;
}

#custom-donation input{
  width: 1150px;
  padding: 20px 40px;
}

#custom-donation input[placeholder] {
  text-align: center;
  opacity: .5;
  font-size: 20px;
}

/* Newsletter Section */

.bg{
  margin: 0 auto; /* Center the content horizontally */
    width: 960px; /* Set the desired width of the content area */
   
}

.newsletter {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 1280px;
  height: 395px;
  border-radius: 24px;
  background-color: #C6E4D6;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 80px;
  
}

/* .newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.newsletter h1 {
  font-size: 40px;
}

.newsletter p {
  opacity: .8;
}

.input-email {
  padding: 18px 34px;
  padding-right:320px;
  margin-right: 0;
  /* background-color: #006A50; */
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  height: 56px;
}

/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 50px;
  width: 100%;
}

footer h1 {
  text-align: center;
  font-size: 32px;
}

footer hr {
  width: 1122px;
  opacity: .8;
  /* text-align: center; */
  align-self: center;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}